.header {
  &__top {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid $gray300;
  }
  &__bottom {
    display: flex;
    background-color: #2b2a29;
  }
  &__left {
    display: flex;
    flex: 1;
  }
  &__right {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  &__info {
    flex: 1;
    text-align: right;
  }
  &__phone {
    color:$gray900;
    font-weight: 700;
    font-size: 16px;;
  }
  &__address {
    font-size: 14px;
  }


  @include tablets {
    .header__right {
      display: none;
    }
  }

  @include mobile {
    .header__left {
      flex-direction: column;
    }
    .header__info {
      margin-top: 15px;
      text-align: left;
    }
  }
}