section.scope {
  background-color: #2B2A29;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  min-height: 520px;

  .scope_bg {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.56;
    object-fit: cover;
  }

  .scope_block {
    width: 100%;
    height: 800px;
    background-color: #2b2a29;
    position: absolute;
    top: -50%;
    left: -30%;
    transform: rotate(-60deg);
  }

  .inner {
    position: relative;
    z-index: 10;
  }

  .scope_title {
    color: #fff;
    max-width: 424px;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .scope_row {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .scope_list {
    margin-right: 50px;
  }

  .scope_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
  }

  .scope_item:not(:last-child) {
    margin-bottom: 20px;
  }

  .scope_item a {
    color: #fff;
    opacity: 0.5;
    font-size: 24px;
    /* font-family: $secondaryFont;*/
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: 0.2s ease-in-out;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    &:hover {
      opacity: 1;
    }
  }

  .scope_link__active {
    display: flex;
    align-items: center;
    opacity: 1 !important;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #fff;
      margin: 0 20px 0 -30px;
      transform: rotate(45deg);
    }
  }

  .scope_cards__item {
    background: $seavawe;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 160px;
    width: 293px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
  }

  .card_title {
    color: #fff;
    font-weight: 300;
  }
  .card_link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: medium;
    text-transform: uppercase;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }

    svg {
      width: 45px;
      height: 18px;
      fill: white;
      margin-left: 15px;
    }
  }
}

.shown {
  display: block!important;
}

.shown-flex {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.green-colored {
  color: $seavawe;
}

@include desktop {
  section.scope {
    overflow: visible;
    min-height: auto;
  }

  .scope_cards__item {
    max-width:30%;
  }
}

@include tablets {
  .scope_cards {
    flex-direction: column;
  }
  .scope_cards__item {
    margin-bottom: 20px;
    max-width: auto;
  }
  .scope_block {
    display: none;
  }
  .scope_title {
    text-align: center;
    margin:auto;
  }
  .scope_row {
    flex-direction: column;
  }
  .scope_list {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}