.slider {
  // height: 520px;
  // overflow: hidden;

  &__list {
    height: 100%;
  }
  &__item {
    position: relative;

    img {
      max-height: 80vh;
      width: 100%;
      object-fit: cover;
    }
  }
  &__title {
    max-width: 50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    line-height: 1.2;
    color:$gray900;

    green {
      color:$seavawe;
    }
  }

  &__desc {
    max-width: 40%;
    font-size: 20px;
    color:$gray900;

    a {
      color: $pink;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 1300px;
    left: 50%;
    top: 50%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

}

@include desktop {
  .slider__title {
    max-width: 100%;
  }
  .slider__desc {
    max-width: 100%;
    margin-top: 15px;
  }
}

@include mobile {
  .slider__title {
    font-size: 48px;
  }
  .slider__desc {
    font-size: 16px;
  }
}

.section-slider {
  .slider {
    height:100%;
  }

  .slick-dots {
    position: absolute;
    bottom: 5%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin-right:20px;

      &:focus {
        outline:none;
      }
    }
    button {
      border:0;
      font-size:0;
      width:15px;
      height:15px;
      border-radius: 50%;

      &:focus {
        outline:none;
      }
    }
    .slick-active {
      button {
        background-color:$pink;
      }
    }
  }
}