footer.footer
  .container
    .footer-menu
      .inner
        .footer-column
          .footer-block
            h4.footer-block__title Адрес
            ul.footer-block__list
              li.footer-block__list_item 117105, г. Москва, Нагорный проезд, д. 7
              li.footer-block__list_item
                a(href="#") +7 495 580 55 02
              li.footer-block__list_item
                a(href="#") 7(495) 775-41-43
              li.footer-block__list_item
                a(href="#") info@binergia.ru
            ul.footer-block__list.mt-25
              li.footer-block__list_item.title Коммерческий отдел:
              li.footer-block__list_item +7 495 580 55 02,
              li.footer-block__list_item +7(495) 775-41-43 доб. 707, 777, 423, 412
              li.footer-block__list_item
                a(href="#") commrce@binergia.ru
          .footer-block
            h4.footer-block__title.mt-25 Напишите нам
            form.footer-form(action="#")
              input.footer-form__input(type="text" placeholder="ваше имя")
              input.footer-form__input(type="text" placeholder="ваш e-mail")
              input.footer-form__input(type="text" placeholder="ваш номер телефона")
              textarea.footer-form__input.footer-form__textarea(name="message" placeholder="сообщение")
              button.footer-form__submit(type="submit") Отправить
        .footer-column
          .footer-block
            h4.footer-block__title Препараты
            ul.footer-block__list
              li.footer-block__list_item
                a(href="#") Анестетики (стоматология)
              li.footer-block__list_item
                a(href="#") Анестетики (прочие)
              li.footer-block__list_item
                a(href="#") Прочие препараты
              li.footer-block__list_item
                a(href="#") Где купить?
          .footer-block
            h4.footer-block__title.mt-25 Компания
            ul.footer-block__list
              li.footer-block__list_item
                a(href="#") История
              li.footer-block__list_item
                a(href="#") Безопасность
              li.footer-block__list_item
                a(href="#") Разработка
              li.footer-block__list_item
                a(href="#") Контроль качества
              li.footer-block__list_item
                a(href="#") Производство
              li.footer-block__list_item
                a(href="#") Стратегия
              li.footer-block__list_item
                a(href="#") Вакансии
          .footer-block
            h4.footer-block__title.mt-25 Режим работы
            ul.footer-block__list
              li.footer-block__list_item.schedule
                span Пн. — Чт.
                span 8.00 — 17.00
              li.footer-block__list_item.schedule
                span Пт.
                span 8.00 — 15.30
              li.footer-block__list_item.schedule
                span Сб. — Вс.
                span Выходные дни
  .footer-map
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d36871.12423081269!2d20.496384000000017!3d54.71938234855745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1596538927515!5m2!1sru!2sru" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>