html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: $gray50;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after { box-sizing: border-box; text-decoration: none; }
*:focus {outline:none;}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  padding: 0 15px;

  &--flex {
    display: flex;
  }
}

ul {
  list-style: none;
}

a {
  transition: .3s;
}

.section-title {
  max-width: 500px;
  width: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.2;
  color: $darkgray;
}
.section-title--seavawe {
  color:$seavawe;
}
.section-description {
  font-weight: 300;
  max-width: 400px;
  margin-bottom: 40px;
  font-style: italic;

}


.page-title {
  padding-top:100px;
  width: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.2;
  color: $darkgray;
  margin-bottom: 20px;
}
.page-title--seavawe {
  color:$seavawe;
}
.page-description {
  font-weight: 300;
  font-style: italic;
  padding-bottom: 100px;

  &--no-padding {
    padding-bottom: 0px;
    margin-bottom:20px;
  }

  &--large {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    padding-bottom: 15px;
    margin-top: -10px;
  }
}

.page-link {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    margin-right: 15px;
    height: 20px;
    margin-bottom: -5px;
  }

  &:before {
    content:'';
  }

  a {
    color: $seavawe;
    line-height: 1;
  }
}

.section--bg {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: right;
}


.container--absolute {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}