// Paths
$assetPath: "/static/images";

// Colors
$white: #fff;
$darkgray: #131313;
$black: #000;

$seavawe: #00A099;

$gray50: #FCFCFC;
$gray100: #f7f7f7;
$gray200: #EEEEEE;
$gray300: #ccc;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray900: #2B2A29;

$blue700: #4D6E9C;
$blue900: #0D47A1;

$pink: #d33a5c;

// Sizes
$base-font-size: 16px;
$small-font-size:14px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1300px;

// Fonts
$montserrat: 'Montserrat', sans-serif;

// Shadow
$shadow_whiter: 0px -12px 217px rgba(12, 35, 99, 0.07), 0px -5.54796px 100.326px rgba(12, 35, 99, 0.0519173), 0px -3.17442px 57.4041px rgba(12, 35, 99, 0.0438747), 0px -1.92685px 34.8439px rgba(12, 35, 99, 0.0377964), 0px -1.16101px 20.995px rgba(12, 35, 99, 0.0322036), 0px -0.646526px 11.6913px rgba(12, 35, 99, 0.0261253), 0px -0.278066px 5.02837px rgba(12, 35, 99, 0.0180827);