doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Контакты
    link(rel="stylesheet", href="/styles/main.min.css")
  body
    .wrapper
      include pug/header.pug
      section.section--bg
        .container
          h1.page-title Контактная информация
          p.page-description  Компания Реха Медика предоставляет широкий выбор медицинской мебели (медицинские шкафы, медицинские кровати, картотечные шкафы, мебель для кабинета врача) и лабораторной мебели на территории Калининградской области. На протяжении нескольких лет мы занимаемся поставками современного медицинского оборудования, оборудования для реабилитации, специализированной бытовой химии для здравоохранения.

      include pug/footer.pug