doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Поставщик
    link(rel="stylesheet", href="/styles/main.min.css")
    include pug/mixins.pug
  body
    .wrapper
      include pug/header.pug

      section
        .container
          h1.page-title ООО “РЕАМЕД”
          p.page-description.page-description--large  ООО “РЕАМЕД”. РЕАГЕНТЫ, ВАКУУМНЫЕ СИСТЕМЫ, ГЕМАТОЛОГИЧЕСКИЕ АНАЛИЗАТОРЫ
          div.page-link
            <svg xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5001 14.6154C17.5001 14.2949 17.3879 14.0225 17.1635 13.7981L14.6635 11.2981C14.4392 11.0737 14.1667 10.9616 13.8462 10.9616C13.5097 10.9616 13.2212 11.0898 12.9808 11.3462C13.0049 11.3702 13.081 11.4443 13.2092 11.5685C13.3374 11.6927 13.4236 11.7789 13.4676 11.8269C13.5117 11.875 13.5718 11.9511 13.6479 12.0553C13.724 12.1595 13.7761 12.2616 13.8042 12.3618C13.8322 12.462 13.8462 12.5721 13.8462 12.6923C13.8462 13.0128 13.734 13.2853 13.5097 13.5096C13.2853 13.734 13.0129 13.8462 12.6924 13.8462C12.5722 13.8462 12.462 13.8321 12.3619 13.8041C12.2617 13.7761 12.1595 13.724 12.0554 13.6479C11.9512 13.5717 11.8751 13.5116 11.827 13.4676C11.7789 13.4235 11.6928 13.3374 11.5686 13.2091C11.4444 13.0809 11.3703 13.0048 11.3462 12.9808C11.0818 13.2292 10.9496 13.5216 10.9496 13.8582C10.9496 14.1787 11.0618 14.4511 11.2861 14.6755L13.7621 17.1635C13.9784 17.3798 14.2509 17.488 14.5794 17.488C14.8999 17.488 15.1723 17.3838 15.3967 17.1755L17.1635 15.4207C17.3879 15.1963 17.5001 14.9279 17.5001 14.6154ZM9.05056 6.14184C9.05056 5.82133 8.93838 5.54889 8.71402 5.32453L6.23806 2.83655C6.0137 2.61219 5.74126 2.50001 5.42075 2.50001C5.10825 2.50001 4.83581 2.60819 4.60344 2.82453L2.83661 4.57934C2.61225 4.8037 2.50008 5.07213 2.50008 5.38463C2.50008 5.70514 2.61225 5.97758 2.83661 6.20194L5.33661 8.70194C5.55296 8.91828 5.8254 9.02646 6.15392 9.02646C6.49046 9.02646 6.77892 8.90226 7.01931 8.65386C6.99527 8.62982 6.91914 8.5557 6.79094 8.4315C6.66273 8.30731 6.5766 8.22117 6.53253 8.17309C6.48846 8.12501 6.42836 8.04889 6.35224 7.94473C6.27612 7.84056 6.22403 7.7384 6.19599 7.63824C6.16794 7.53808 6.15392 7.4279 6.15392 7.30771C6.15392 6.98719 6.2661 6.71476 6.49046 6.4904C6.71482 6.26604 6.98725 6.15386 7.30777 6.15386C7.42796 6.15386 7.53814 6.16788 7.6383 6.19593C7.73846 6.22397 7.84062 6.27606 7.94479 6.35218C8.04895 6.4283 8.12507 6.4884 8.17315 6.53247C8.22123 6.57654 8.30737 6.66267 8.43156 6.79088C8.55576 6.91908 8.62988 6.99521 8.65392 7.01925C8.91834 6.77085 9.05056 6.47838 9.05056 6.14184ZM19.8078 14.6154C19.8078 15.5769 19.4672 16.3902 18.7861 17.0553L17.0193 18.8101C16.3542 19.4752 15.5409 19.8077 14.5794 19.8077C13.6098 19.8077 12.7925 19.4672 12.1275 18.7861L9.65152 16.2981C8.98645 15.633 8.65392 14.8197 8.65392 13.8582C8.65392 12.8726 9.00648 12.0353 9.71161 11.3462L8.65392 10.2885C7.96482 10.9936 7.13148 11.3462 6.15392 11.3462C5.19238 11.3462 4.37507 11.0096 3.702 10.3366L1.202 7.83655C0.528921 7.16348 0.192383 6.34617 0.192383 5.38463C0.192383 4.42309 0.532928 3.60979 1.21402 2.94473L2.98084 1.18992C3.64591 0.524854 4.45921 0.192322 5.42075 0.192322C6.3903 0.192322 7.20761 0.532867 7.87267 1.21396L10.3486 3.70194C11.0137 4.367 11.3462 5.1803 11.3462 6.14184C11.3462 7.12742 10.9937 7.96476 10.2885 8.65386L11.3462 9.71155C12.0353 9.00642 12.8687 8.65386 13.8462 8.65386C14.8078 8.65386 15.6251 8.9904 16.2982 9.66348L18.7982 12.1635C19.4712 12.8366 19.8078 13.6539 19.8078 14.6154Z" fill="#00A099"/>
              </svg>
            a(href="http://www.reamed.ru") www.reamed.ru

      section.company
        .container
          .company__about
            .company__about-text
              p Главным отличием ООО "РЕАМЕД" от многих компаний, работающих на медицинском рынке в России, стала специализация в области производства гематологических реагентов.
              p Cегодня компания ООО "РЕАМЕД " является лидирующим российским производителем. Весь технологический цикл осуществляется на собственной производственной базе. В целях обеспечения качества все звенья производства начиная от входного контроля сырья и тары, и заканчивая контролем ОТК готовой продукции - строго регламентированы.
              p Компания получила сертификат ISO 9001 в 2007 году, что позволило серьёзно расширить позиции нашей продукции на российском рынке и выйти на зарубежные. По самым скромным подсчётам, каждый 4-й гематологический анализатор в России обслуживается на наших реагентах.  
            .company__about-logo
              img(src="/images/reamed-logo.png", alt="Логотип ООО “РЕАМЕД”")

      section.complex_medicine
        .container
          h2.section-title Направления деятельности
          .complex_medicine__list
            .complex_medicine__item
              span #Мужская аптечка
            .complex_medicine__item
              span #Женская аптечка
            .complex_medicine__item
              span #Детская аптечка
            .complex_medicine__item
              span #Семейная аптечка
            .complex_medicine__item
              span #Видеоролики
            .complex_medicine__item
              span #Прайс-лист
            .complex_medicine__item
              span #Справка
            .complex_medicine__item
              span #Каталог товаров



      section.medicineList
        .container
          .slider
              .slider_item
                  img.slider_item__image(src="https://www.ormed.ru/upload/iblock/cfe/cfe68a1ea43d32cb7136e752ce6715f6.png", alt="Пассамбра") 
              .slider_item
                  img.slider_item__image(src="https://www.ormed.ru/upload/iblock/e76/e76ec3f1ff788e83d35a8efefebe17e2.JPG", alt="Пассамбра") 
              .slider_item
                  img.slider_item__image(src="https://www.ormed.ru/upload/iblock/cfe/cfe68a1ea43d32cb7136e752ce6715f6.png", alt="Пассамбра") 
              .slider_item
                  img.slider_item__image(src="https://www.ormed.ru/upload/iblock/e76/e76ec3f1ff788e83d35a8efefebe17e2.JPG", alt="Пассамбра") 

    
      include pug/footer.pug