doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ООО "Реха-Медика"
        link(rel="stylesheet", href="/styles/main.min.css")
        include pug/mixins.pug
    body
        .wrapper
            include pug/header.pug

            section.section-slider
                .slider
                    - var images = [1,1,1]
                    ul.slider__list
                        each number, index in images
                            li.slider__item(style=`background-image:url(/images/slider/${number}.jpg)`)
                                .container
                                    .slider__title ПРОДАЖА <green>МЕДИЦИНСКОГО ОБОРУДОВАНИЯ И МЕБЕЛИ</green> В КАЛИНИНГРАДЕ
                                    .slider__desc Комплектация лечебно-профилактических учреждений по <a href="/">СТАНДАРТАМ ОСНАЩЕНИЯ</a>
            section.section-clients
                .clients
                    .container
                        h2.clients__title Наши <green>клиенты</green>
                        ul.clients__list
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M28.065 22.064c-.256 0-.256.257-.256.257h.513c.256 0 .256-.257.256-.257h-.513zM22.678 22.32h.513s0-.256-.257-.256h-.513s0 .257.257.257z"/><path d="M50.386 32.07l-9.749-5.644c-.513-.257-.513-.77 0-1.027l9.75-5.644c.512-.256.769-1.026.512-1.54L45 7.954c-.257-.513-1.027-.77-1.54-.513l-9.75 5.644c-.512.257-1.025 0-1.025-.513V1.026C32.684.513 32.17 0 31.657 0H19.856c-.513 0-1.027.513-1.027 1.026v11.289c0 .513-.513.77-1.026.513L8.054 7.184c-.513-.257-1.283 0-1.54.513l-5.9 10.262c-.257.513 0 1.283.513 1.54l9.75 5.644c.512.256.512.77 0 1.026l-10.263 5.9c-.513.258-.77 1.027-.513 1.54L6 43.872c.257.513 1.027.77 1.54.513l9.75-5.645c.512-.256 1.025 0 1.025.514v11.288c0 .513.514 1.026 1.027 1.026h11.801c.513 0 1.026-.513 1.026-1.026V39.254c0-.514.514-.77 1.027-.514l9.749 5.645c.513.256 1.283 0 1.54-.513l5.9-10.263c.77-.513.513-1.282 0-1.54zM30.888 13.598c.256 0 .256.256.513.256-.257-.256-.513-.256-.513-.256-.513-.257-.77-.257-.77-.514.257 0 .513.257.77.514zm-.513.256c1.026.77 3.078 1.026 6.927 1.026 3.848 0 4.361-.256 3.848.77-.513 1.026-2.309.77-2.566 1.026-.256 0 0 1.54-1.026 1.283-1.026 0-1.54-.256-1.796.77 0 .77-1.282 1.283-2.309.77-1.026-.514-1.539-.257-1.539.256s-.513 1.283-2.309.77c-1.796-.513-1.54-.513-2.053 0-.513.513-.513 0-.513-.77V16.42c0-.77 0-.513.513-.513.514 0 1.027-.257 1.027-1.283-.513-1.283.513-1.54 1.796-.77zm-5.901 22.32v-1.282c.256-.257 3.335-1.283 3.848-1.54.77.514 1.283 1.027 1.283 2.053 0 1.283-1.796 2.566-3.335 3.079-1.54.513-2.053.77-2.053 1.283 0 .256.257.513.513.77V39.51c.257 0 3.079-1.026 3.592-1.283.257.513.77 1.027.77 1.54 0 1.026-.513 2.052-2.822 2.565-1.54.513-2.31 1.026-1.54 1.54v-.514c.77-.513 2.566-.77 3.336-1.282.256.256.256.77.256 1.282-.256.77-.513 1.54-2.822 2.31s-3.079 1.282-3.335 1.026c-.257-.257 1.283-1.027 2.822-2.053 1.026-.77 2.052-1.282 1.026-1.796v.514c-.256.513-1.796 1.282-2.052 1.539-.77-.513-1.283-1.026-1.54-1.54-.256-.77.257-1.026 1.54-1.795 1.539-.77 2.309-1.027 2.309-1.54 0-.256-.257-.513-.513-.513v.77c-.257.513-2.566 1.283-3.336 1.54-.77-.514-1.026-1.284-1.026-2.053 0-1.027.77-1.796 2.822-2.566 2.053-.77 2.31-1.54 2.31-2.052 0-.257-.257-.257-.77-.514v1.283c-.514.257-2.823 1.283-3.592 1.54-1.026-.77-1.796-.77-1.796-2.31 0-1.282 1.283-2.308 3.335-3.078 2.053-.77 3.592-1.796 3.592-2.822 0-.513-.513-.77-1.026-1.027 1.282-.256 2.309-.256 3.335-.513.256.257.513.77.513 1.283.257 1.54 0 2.822-2.566 4.105-2.565 1.283-4.361 1.54-4.361 2.053.513.256.77.513 1.283 1.026zm3.592 9.237c-.257 0-.257-.257-.514-.513.77-.513 1.027-1.026 1.283-1.796v-.513c.257.513.257.77 0 1.283 0 .513-.256 1.026-.77 1.539zm.77 1.026c-.257.257-.77-.256-2.566-.77-.257 2.566-.514 4.105-.77 4.105-.257 0-.513-1.539-.513-3.848.513 0 1.796-.77 2.052-.77a7.773 7.773 0 011.796 1.283zm-6.928-2.565v-1.027.257c0 .77.513 1.283 1.283 1.796-.257.256-.513.256-.513.256-.257-.256-.513-.77-.77-1.282zm4.875-13.855v-1.282c.256.256.513.256.513.513v.256l-.257-.256-.256.77zm2.052-2.565c-2.565.513-5.9.513-5.9 1.54 0 .512.513 1.538 1.282 2.052l.257.256v-3.079c.513 0 .77-.256 1.796-.256v2.566c-.513.256-1.027.513-1.796.77-.257 0-1.796.769-2.31 1.025-1.795-1.026-2.308-2.565-2.052-3.848.257-1.54 1.54-3.079 4.875-3.335 3.335 0 5.131-.513 5.644-1.283.513-.77.257-1.796-.513-1.283-.77.513-1.283.77-2.566.77-1.026 0-1.282-.77-.77-1.54.514-.77 0-1.026 1.54-1.282 1.283-.257 4.618 0 4.875 2.052.513 2.566-1.54 4.362-4.362 4.875zm-5.13 2.052v-.256s.256-.257.512-.257v1.283-1.026c-.513 0-.513.256-.513.256zm.256-8.466c-.257 0-.513-.257-.77-.257l-.257-.256s-.256 0-.513.256h-.513c.513-.256 1.026-.256 1.026-.256l.257.256c.257-.256.513 0 .77.257 0-.257.256-.257.256-.257v1.027c-.256-.514-.256-.514-.256-.77zm-1.54 0c1.283.256 1.027.513 1.54 1.283.513.77.256 1.539-.77 1.539-1.283 0-1.796-.257-2.566-.77-.77-.513-1.026.513-.513 1.283.513.513 1.796 1.026 3.336 1.283-1.283 0-2.31.77-2.823 1.796-2.052-.77-3.335-2.31-3.078-4.105.256-2.31 3.591-2.566 4.874-2.31zm.77 3.848h-.257c-1.282-.256-2.052-.513-2.052-.77l-.257-.256c.77.513 1.283.77 2.566.77h.257c.256 0 .77 0 .77-.257V25.4v-.513c-.514-.256-.77-.256-1.027 0zm3.592 0v-.77c.256 0 .513.257.77.257h.256c1.283 0 1.796-.256 2.566-.77 0 0 0 .257-.257.257-.256.257-1.026.77-2.052.77h-.257c-.257 0-.77 0-.77-.257l-.256.513zm0-3.335v-.77c.256 0 .513-.256.77-.256l.256-.257c.257 0 .513.257 1.283.257h-.513c-.257 0-.513-.257-.77-.257l-.257.257c-.256.256-.513.256-.77.256h-.256c.257.257.257.513.257.77zm1.54-9.75c0 1.027-.514 2.053-1.54 2.566v0c.77-.513 1.283-1.539 1.54-2.565 0-1.54-1.284-2.822-2.823-2.822 1.54 0 2.822 1.282 2.822 2.822zm-.77 0c0 1.027-.514 1.797-1.54 2.053v11.032h-1.796v-5.13-6.158c-.77-.257-1.54-1.027-1.54-2.053a2.3 2.3 0 012.31-2.309c1.283 0 2.566 1.283 2.566 2.566zm-2.31-2.821c-1.539 0-2.565 1.282-2.565 2.822 0 1.026.513 2.052 1.54 2.309v0c-1.027-.513-1.54-1.54-1.54-2.566 0-1.283 1.026-2.309 2.565-2.565zm-5.387 4.618c.256-.257.513-.257.77-.514 0 0-.257.257-.77.514 0 0-.257.256-.513.256.256 0 .513-.256.513-.256zm-6.158 1.282c3.849 0 5.645-.256 6.927-1.026 1.027-.77 2.053-.513 2.31.257 0 .77.513 1.282 1.026 1.282s.513-.256.513.514v3.335c0 1.026 0 1.283-.513.77-.513-.514-.513-.514-2.053 0-1.54.513-2.309-.257-2.309-.77s-.513-.77-1.54-.257c-1.025.514-2.308 0-2.308-.77 0-.769-.513-.769-1.796-.769-1.026 0-.77-1.283-1.026-1.283-.257 0-2.053.257-2.566-1.026-1.026-.513-.513-.257 3.335-.257zm2.31 5.388c-1.027 0-2.053-.513-2.053-1.54v-.256H12.672c-1.026 0-1.283-1.026-1.283-1.283-.513 0-2.052 0-2.822-1.282-.256-.257-.256-.77 0-1.283.257-.257.513-.513 1.026-.513-.256 0-.256.256-.513.256-.256.513 0 .77 0 1.283.513 1.283 2.053 1.283 2.566 1.283 0 .513.256 1.283 1.283 1.283h1.282v.256c0 .77.77 1.54 2.053 1.54.513 0 .77 0 1.283-.257.513-.256.77-.256.77-.256 0 .513.256 1.026.769 1.282-.256 0-.256 0-.513.257-.513-.257-.77-.77-.77-1.026-.256 0-.513 0-.77.256h-1.026zm3.335 8.98c0-.257.256-.77.513-1.283-2.31-1.026-3.592-2.822-3.336-4.618.257-.77.514-1.283 1.027-1.54-.257.257-.77.77-.77 1.283-.257 1.796 1.026 3.592 3.079 4.618-.257.514-.257.77-.513 1.283-.257 1.283 0 2.822 1.796 4.105-.257 0-.257.257-.514.257-1.282-1.283-1.282-3.079-1.282-4.105zm.77 6.414c0-.513 0-.77.256-1.283v.513c0 1.54.77 2.052 1.54 2.31 0 0 .256 0 .256.256l-.513.513c-.77-.257-1.54-.77-1.54-2.31zm1.282 3.592c0 1.026.257 2.052 1.026 2.565-.256.257-.256.257-.256.513-.77-.513-1.026-1.54-1.026-2.309 0-.256.256-.513.256-.77zm7.953 8.466s-.256.257-.513.257c-.256 0-.513-.257-1.54-.514-.256 0-.256-.256-.512-.256-.257 3.592-.77 3.848-1.283 3.848-.77 0-1.026-.513-1.283-3.848-.256 0-.513.256-.77.256-.77.257-1.282.514-1.539.514-.256 0-.513 0-.513-.257l-.256-.257v-.256c0-.257 0-.257.256-.513 0 0 .257.256.513.256.257 0 .513 0 1.54-.513.256 0 .513-.256.77-.256.256 3.078.512 3.848 1.025 3.848.514 0 1.027-.257 1.283-3.848.257 0 .513.256.513.256.77.257 1.283.513 1.54.513.256 0 .256 0 .513-.256.256.256.256.256.256.513v.513zm-.77-5.388c0-.256 0-.513-.256-.513.77-.513 1.026-1.283 1.026-2.309v-.256c0 .256.257.513.257.77 0 1.026-.257 1.795-1.026 2.308zm.514-4.105c0-.256-.257-.256-.257-.513.77-.513 1.54-1.54 1.54-2.565v-.514c.256.257.256.77.256 1.027-.256 1.026-.77 1.796-1.54 2.565zm1.796-10.262c.256.513.513.77.513 1.283.256 1.796-.257 3.079-2.053 4.105-.256-.257-.256-.257-.513-.257 1.796-1.026 2.566-2.309 2.053-4.105 0-.256-.257-.77-.513-1.283 2.052-1.026 3.335-2.822 3.078-4.618 0-.513-.256-1.026-.77-1.282.514.513 1.027 1.026 1.027 1.795.77 1.54-.513 3.336-2.822 4.362zm8.466-10.519c0 .513-.256 1.283-1.283 1.283H36.79v.256c0 .77-.77 1.54-2.053 1.54-.513 0-1.026 0-1.283-.257-.513-.256-.77-.256-.77-.256 0 .513-.256.77-.769 1.026-.257 0-.257 0-.513-.257.513-.256.77-.77.77-1.282 0 0 .256 0 .77.256.512.257.769.257 1.282.257 1.026 0 1.796-.514 2.053-1.54v-.256h1.282c1.026 0 1.283-1.027 1.283-1.283.513 0 2.053 0 2.566-1.283.256-.257.256-.77 0-1.283 0-.256-.257-.256-.513-.256.513 0 1.026 0 1.026.513.256.513 0 1.026 0 1.283-.257 1.539-1.796 1.539-2.566 1.539z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M27.77 3.855S-4.462-10.978.673 17.547c.285 1.427.57 2.853 1.14 4.28h5.135L9.8 15.55c.285-.57.855-.855 1.426-.855.57 0 1.141.57 1.141 1.14l1.141 6.562L18.072 5.28c.285-.57.856-1.14 1.426-.855.57 0 1.141.57 1.141 1.14l2.283 25.103 3.708-14.548c.285-.57.855-.856 1.426-.856.57 0 1.141.57 1.141 1.141l1.426 7.702.856-1.997c.285-.57.57-.855 1.141-.855h6.276c.57-1.997 2.282-3.138 4.279-3.138 2.567 0 4.564 1.997 4.564 4.564s-1.997 4.564-4.564 4.564c-1.997 0-3.709-1.426-4.28-3.138h-5.42l-1.996 4.85c-.285.57-.856.855-1.426.855s-1.141-.57-1.141-1.14l-1.141-6.276-3.994 16.26c-.285.57-.57.855-1.14.855-.571 0-1.142-.57-1.142-1.141l-2.282-25.673-4.85 16.26c-.284.57-.57.855-1.425.855-.57 0-1.142-.57-1.142-1.14L10.37 20.4l-1.426 3.138c-.285.57-.57.855-1.141.855h-4.85C9.8 38.941 27.772 49.496 27.772 49.496S51.447 35.804 54.87 17.833c5.135-28.811-27.1-13.978-27.1-13.978z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M53.647 24.717c-2.247 0-4.213 1.404-4.775 3.37-.281 0-5.618-1.404-9.83 1.685-2.81 2.247-4.495 6.18-4.495 11.516 0 4.494-.842 7.865-2.528 10.112-1.685 2.247-3.37 2.808-4.774 2.808-2.81 0-6.18-2.528-6.18-6.179 0-3.37 0-5.898-.28-7.583v-.562c3.65-.281 7.302-1.966 10.392-4.775.842-.843 1.123-1.966.842-3.09 3.933-4.774 6.741-11.515 6.741-17.133 0-6.179-3.09-10.111-9.268-12.077C29.21 1.123 27.805 0 26.121 0c-1.967 0-3.652 1.685-3.652 3.651 0 1.966 1.685 3.652 3.651 3.652 1.124 0 2.247-.562 2.809-1.405 4.775 1.405 6.74 4.213 6.74 8.988 0 5.056-2.246 10.954-5.898 15.167-.842-.28-1.966 0-2.808.843-1.685 1.404-3.932 3.37-7.022 3.37h-1.124c-2.808 0-5.336-1.685-7.021-3.37-.843-.843-1.686-.843-2.81-.843C5.618 25.84 3.09 19.942 3.09 14.886c0-4.775 2.247-7.583 6.74-8.988.562.843 1.686 1.405 2.81 1.405 1.965 0 3.65-1.686 3.65-3.652C16.29 1.685 14.606 0 12.64 0c-1.686 0-3.09 1.123-3.371 2.809C3.089 4.494 0 8.426 0 14.886c0 5.618 2.528 12.359 6.74 17.133-.28 1.124 0 2.247.844 3.09 3.37 3.09 7.302 5.056 11.234 5.056 0 .842.281 2.808.281 7.864 0 4.494 3.652 8.426 8.146 8.426 2.527 0 4.774-1.404 6.46-3.651 1.966-2.528 2.808-6.46 2.808-11.516 0-4.775 1.124-7.864 3.652-9.83 3.37-2.528 7.864-1.405 7.864-1.405h.281c.28 2.528 2.528 4.494 5.056 4.494a5.035 5.035 0 005.055-5.055c.281-2.528-1.966-4.775-4.774-4.775zm0 8.988c-2.247 0-3.933-1.686-3.933-3.933s1.686-3.932 3.933-3.932 3.932 1.685 3.932 3.932-1.966 3.933-3.932 3.933z"/><path d="M53.647 26.964c-1.685 0-2.809 1.404-2.809 2.808 0 1.686 1.404 2.81 2.809 2.81 1.685 0 2.808-1.405 2.808-2.81 0-1.404-1.404-2.808-2.808-2.808z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M3.824 5.883h16.473c1.765 0 2.942-1.176 2.942-2.941S22.062 0 20.297 0H3.824C2.06 0 .883 1.177.883 2.942c0 1.765 1.176 2.941 2.941 2.941zM58.538 22.356c-.589 0-1.177 0-1.471.294l-4.118-4.118 5-5h1.471c1.765 0 2.941-1.177 2.941-2.942 0-1.765-1.176-2.942-2.941-2.942H3.824C2.06 7.648.882 8.825.882 10.59c0 1.765 1.177 2.941 2.942 2.941h.883l5 5-4.118 4.12c-.882-.295-1.177-.295-1.765-.295C1.765 22.356 0 24.121 0 26.18c0 2.06 1.765 3.824 3.824 3.824 2.06 0 3.824-1.765 3.824-3.824 0-.588 0-1.177-.294-1.47l4.118-4.119 4.118 4.118c-.294.589-.294.883-.294 1.471 0 2.06 1.765 3.824 3.824 3.824 2.06 0 3.824-1.765 3.824-3.824 0-2.06-1.765-3.824-3.824-3.824-.588 0-1.176 0-1.47.294l-4.119-4.118 5.001-5h25.003l5.001 5-4.118 4.118c-.588-.294-.883-.294-1.47-.294-2.06 0-3.825 1.765-3.825 3.824 0 2.06 1.765 3.824 3.824 3.824 2.06 0 3.824-1.765 3.824-3.824 0-.588 0-1.177-.294-1.47l4.118-4.119 4.118 4.118c-.294.589-.294.883-.294 1.471 0 2.06 1.765 3.824 3.824 3.824 2.06 0 3.824-1.765 3.824-3.824.589-2.06-1.47-3.824-3.53-3.824zm-47.066-6.177l-2.941-2.942h5.589l-2.648 2.942zm36.476-2.942h5.589l-2.942 2.942-2.647-2.942z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                        .arrow
                            a(href="#section")
                                <svg class="arrow__circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.51 73.51"><g><path d="M36.76 73.51a36.76 36.76 0 1136.75-36.75 36.8 36.8 0 01-36.75 36.75zm0-65.51a28.76 28.76 0 1028.75 28.76A28.79 28.79 0 0036.76 8z"/></g></svg>
                                <svg class="arrow__arrow" viewBox="0 0 49 136" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.1069 135.029C22.7308 135.651 23.5769 136 24.4591 136C25.3413 136 26.1874 135.651 26.8113 135.029L47.9843 113.919C48.3021 113.613 48.5555 113.247 48.7299 112.842C48.9043 112.437 48.996 112.002 48.9999 111.562C49.0037 111.121 48.9195 110.684 48.7522 110.277C48.585 109.869 48.3379 109.499 48.0255 109.187C47.7132 108.876 47.3417 108.63 46.9328 108.463C46.5239 108.296 46.0858 108.212 45.6441 108.216C45.2023 108.22 44.7658 108.311 44.3599 108.485C43.954 108.659 43.5868 108.912 43.2799 109.228L24.4591 127.993L5.6383 109.228C5.01082 108.624 4.17041 108.29 3.29809 108.297C2.42576 108.305 1.5913 108.654 0.974452 109.269C0.3576 109.884 0.00770466 110.716 0.000124822 111.586C-0.00745502 112.455 0.327884 113.293 0.933924 113.919L22.1069 135.029ZM21.1321 -1.21814e-06L21.1321 132.684L27.7861 132.684L27.7861 -9.27288e-07L21.1321 -1.21814e-06Z" fill="#D33A5C"/>
                                </svg>
            section.scope#section
                img.scope_bg.shown(src="/images/Rectangle.jpg", alt="" data-scope="1")
                img.scope_bg(src="/images/Rectangle.jpg", alt="" data-scope="2")
                img.scope_bg(src="/images/Rectangle.jpg", alt="" data-scope="3")
                .scope_block
                .container
                    .inner
                        h2.section_title.scope_title.fz-40 Области клинического <span class="green-colored">применения</span>
                        .scope_row
                            ul.scope_list
                                li.scope_item
                                    a.scope_link__active(href="#" data-scope="1") Санитарное оборудование
                                li.scope_item
                                    a(href="#" data-scope="2") Медицинское оборудование
                                li.scope_item
                                    a(href="#" data-scope="3") Медицинская мебель
                            .scope_cards.shown-flex(data-scope="1")
                                
                                +scope-card('Химия для дезинфекции и уборки', '#')
                                +scope-card('Химия для дезинфекции и уборки', '#')
                                +scope-card('Химия для дезинфекции и уборки', '#')
                            .scope_cards(data-scope="2")
                                +scope-card('Aртериальная гипертензия', '#')
                                +scope-card('ССЗ и соматоформные,  астенические, тревожные расстройства', '#')
                                +scope-card('ХСН II-III ФК', '#')
                            .scope_cards(data-scope="3")
                                +scope-card('ХСН II-III ФК', '#')
                                +scope-card('Шизофрения', '#')
            section.providers-section
                .container       
                    h2.section-title.section-title--seavawe Наши поставщики
                    p.section-description Выраженность клинических эффектов Пантогама актив зависит от периода терапии.
                    .providers
                        .providers__list
                            +providers-item-large("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item-large("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
                            +providers-item-dark("Название компании", "Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне.")
            include pug/footer.pug
                            


                
                
