doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ООО "Реха-Медика"
        link(rel="stylesheet", href="/styles/main.min.css")
    body
        .wrapper
            include pug/header.pug

            section.section-slider
                .slider
                    - var images = [1,2,3]
                    ul.slider__list
                        each number, index in images
                            li.slider__item(style=`background-image:url(/images/slider/${number}.jpg)`)
                                .container
                                    .slider__title ПРОДАЖА <green>МЕДИЦИНСКОГО ОБОРУДОВАНИЯ И МЕБЕЛИ</green> В КАЛИНИНГРАДЕ
                                    .slider__desc Комплектация лечебно-профилактических учреждений по <a href="/">СТАНДАРТАМ ОСНАЩЕНИЯ</a>
            section.section-clients
                .clients
                    .container
                        h2.clients__title Наши <green>клиенты</green>
                        ul.clients__list
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                            li.clients__item
                                .clients__svg <svg xmlns="http://www.w3.org/2000/svg"><path d="M30.987 31.933l3.74-23.015c.575-.863.863-2.014.863-3.164C35.59 2.589 33 0 29.836 0c-3.164 0-5.753 2.59-5.753 5.754 0 3.164 2.301 5.466 5.178 5.753l-1.15 6.617H16.602a2.578 2.578 0 00-2.59 2.59c0 1.438 1.151 2.588 2.59 2.588h10.644l-.575 3.452H14.014L8.26 43.44l-4.028-1.15c-1.438-.288-2.876.287-3.164 1.725-.288 1.439.288 2.877 1.726 3.165l8.63 2.589 6.042-17.836h13.52z"/><path d="M33.576 24.453l-.863 5.754c1.726 1.726 2.589 4.315 2.589 6.904a10.314 10.314 0 01-10.357 10.357c-3.74 0-7.192-2.014-8.918-5.467l-2.014 5.754c2.877 2.877 6.905 4.603 10.932 4.603 8.343 0 15.247-6.904 15.247-15.247.288-5.178-2.301-9.781-6.616-12.658z"/></svg>
                                .clients__header Центры
                                .clients__description восстановительные и реабилитационные
                        .arrow
                            a(href="#")
                                <svg class="arrow__circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.51 73.51"><g><path d="M36.76 73.51a36.76 36.76 0 1136.75-36.75 36.8 36.8 0 01-36.75 36.75zm0-65.51a28.76 28.76 0 1028.75 28.76A28.79 28.79 0 0036.76 8z"/></g></svg>
                                <svg class="arrow__arrow" viewBox="0 0 49 136" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.1069 135.029C22.7308 135.651 23.5769 136 24.4591 136C25.3413 136 26.1874 135.651 26.8113 135.029L47.9843 113.919C48.3021 113.613 48.5555 113.247 48.7299 112.842C48.9043 112.437 48.996 112.002 48.9999 111.562C49.0037 111.121 48.9195 110.684 48.7522 110.277C48.585 109.869 48.3379 109.499 48.0255 109.187C47.7132 108.876 47.3417 108.63 46.9328 108.463C46.5239 108.296 46.0858 108.212 45.6441 108.216C45.2023 108.22 44.7658 108.311 44.3599 108.485C43.954 108.659 43.5868 108.912 43.2799 109.228L24.4591 127.993L5.6383 109.228C5.01082 108.624 4.17041 108.29 3.29809 108.297C2.42576 108.305 1.5913 108.654 0.974452 109.269C0.3576 109.884 0.00770466 110.716 0.000124822 111.586C-0.00745502 112.455 0.327884 113.293 0.933924 113.919L22.1069 135.029ZM21.1321 -1.21814e-06L21.1321 132.684L27.7861 132.684L27.7861 -9.27288e-07L21.1321 -1.21814e-06Z" fill="#D33A5C"/>
                                </svg>
            section.scope
                img.scope_bg.shown(src="/images/Rectangle.jpg", alt="" data-scope="1")
                img.scope_bg(src="/images/Rectangle.jpg", alt="" data-scope="2")
                img.scope_bg(src="/images/Rectangle.jpg", alt="" data-scope="3")
                .container
                    .inner
                    h2.section_title.scope_title.fz-40 Области клинического <span class="vine-colored">применения</span>
                    .scope_row
                        ul.scope_list
                        li.scope_item
                            a.scope_link__active(href="#" data-scope="1") Неврология
                        li.scope_item
                            a(href="#" data-scope="2") Терапия/Кардиология
                        li.scope_item
                            a(href="#" data-scope="3") Психиатрия
                        .scope_cards.shown-flex(data-scope="1")
                            mixin scope-card(title, link)
                                .scope_cards__item
                                    span.card_title= title
                                    a.card_link(href=link) Подробнее
                                    img(src= imgroot + "arrow-right.svg", alt="")

                            +scope-card('Aртериальная гипертензия', '#')
                            +scope-card('ССЗ и соматоформные,  астенические, тревожные расстройства', '#')
                            +scope-card('Когнитивные расстройства у женщин с климактерическим синдромом', '#')
                        .scope_cards(data-scope="2")
                            +scope-card('Aртериальная гипертензия', '#')
                            +scope-card('ССЗ и соматоформные,  астенические, тревожные расстройства', '#')
                            +scope-card('ХСН II-III ФК', '#')
                        .scope_cards(data-scope="3")
                            +scope-card('ХСН II-III ФК', '#')
                            +scope-card('Шизофрения', '#')
            include pug/footer.pug
                            


                
                
