doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ООО "Реха-Медика"
        link(rel="stylesheet", href="/styles/main.min.css")
        include pug/mixins.pug
    body
        .wrapper
            include pug/header.pug

            section
              .container
                h1.page-title Дезинфицирующие средства
                p.page-description.page-description--no-padding  Научно-производственная компания «МЕДЭКС» предлагает медицинские дезинфицирующие средства широкого антимикробного спектра действия для дезинфекции поверхностей и изделий медицинского назначения, обеззараживания помещений ЛПУ, средства дезинфекции и предстерилизационной очистки инструментов, кожные антисептики для медицинского персонала, а также дополнительное оборудование.
                p.page-description.page-description--no-padding Мы предлагаем как дезинфицирующие растворы собственного производства, так и продукцию ведущих мировых производителей. Дезсредства ООО «НПК Медэкс» выпускаются на собственных мощностях и проходят строгий контроль качества в соответствии с международными стандартами. Все средства относятся к экологически безопасным и имеют необходимые сертификаты.
